body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: normal;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

#entirePage {
  margin: 25px 10px 25px 10px;
  margin: auto;
  height: 90%;
  width: 90%;
  color: white;
  z-index: 1;
}

.headerContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 11;
}

.headerVidCont {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.backGrnVid {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.headerNavigation {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.headerBranding {
  padding: 2vw;
  display: flex;
  position: relative;
  float: right;
  text-shadow: 1px -1px 0 blue;
}

.headerLogo {
  position: relative;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  min-width: 10vw;
  max-width: 20vw;
  min-height: 10vh;
  max-height: 20vh;
}

.headerCompanyName {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2vh;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  min-width: 5vw;
  max-width: 15vw;
  min-height: 5vh;
  max-height: 15vh;
}

.headerInfo {
  margin-top: 2vh;
  padding-right: 4vw;
  display: grid;
  justify-content: flex-end;
  text-shadow: 1px -1px 0 blue;
}

.contNumb {
  display: flex;
}

.headerInfoPhone {
  justify-self: center;
  height: 18px;
  width: 18px;
  padding-right: 1vw;
}

.workTime {
  display: grid;
}

.headerNav {
  grid-column: span 2;
}

.headerNavList {
  display: flex;
  justify-content: end;
  padding-right: 4vw;
}

.headerNavMenu {
  border: transparent;
}

.mainMenuNavLi {
  display: inline-block;
  padding-left: 5vw;
  color: white;
  text-shadow: 1px -1px 0 blue;
}

.zestawienie {
  display: flex;
  justify-content: right;
}

main {
  padding: 10px;
}

.shopScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carWindow {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
  padding: 1px;
  margin: 5px 5px 5px 5px;
  min-width: 20vw;
  max-width: 40vw;
  min-height: 40vh;
  max-height: 60vh;
  border: 1vh solid silver;
  background-color: rgb(132, 132, 153);
  color: black;
  vertical-align: top;
  cursor: pointer;
}

.carWinDes {
  width: 100%;
  text-align: left;
  padding-left: 1vw;
}

.carWinImg {
  max-width: 100%;
  max-height: 100%;
}

.CarWinDesInf {
  margin: 5px 0;
}

.carWindowBig {
  position: fixed;
  grid-template-columns: unset;
  grid-template-rows: unset;
  top: 7vh;
  left: 7vw;
  width: 84vw;
  height: 84vh;
  color: black;
  border: 3px solid silver;
  background-color: rgb(132, 132, 153);
  z-index: 111;
  display: none;
}

.carWinBigCon {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  box-sizing: border-box;
}

.carWinBigConSum {
  width: 35%;
  height: 80%;
  border-right: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}

.carWinBigConSet {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: 80%;
  padding: 10px;
  box-sizing: border-box;
}

.carWinBigConSetLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.radioButtonsDiv {
  margin-bottom: 3vh;
}

.nameSurnameDiv {
  margin-bottom: 3vh;
}

.accesoriesDiv {
  margin-bottom: 3vh;
}

.carWinBigConCal {
  display: flex;
  flex-direction: column;
  border: 3px silver solid;
  background: hsl(0, 77%, 42%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  height: 85%;
  transform: scale(0.5);
  transform-origin: top left;
}

.carWinBigConCalCon {
  border: 2px silver solid;
}

.carWInBigConCalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3f51b5;
  color: #fff;
  padding: 5px;
  font-size: 12px;
}

.navButton {
  font-size: 12px;
  cursor: pointer;
}
.navButtonContainer {
  text-align: center;
}

.monthYearContainer {
  text-align: center;
}

.days {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 3px 0;
}

.day,
.date {
  width: calc(100% / 7);
  padding: 6px 3px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  cursor: pointer;
}

.date:hover {
  background: rgba(0, 0, 0, 0.1);
}

.date.inactive {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.selected-date {
  background: #3f51b5;
  color: #fafafa;
  border-radius: 50%;
}

.dates {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.submitButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 19%;
}

.submitButton {
  width: 100%;
  height: 100%;
  background-color: #a6afe1;
  color: black;
  border: silver 3px solid;
  font-size: 5vw;
  cursor: pointer;
  outline: none;
}

.submitButton:hover {
  background-color: silver;
}

#closeBtn {
  position: absolute;
  background-color: #a6afe1;
  border: silver 3px solid;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 111;
}

#closeBtn:hover {
  background-color: grey;
}

footer {
  padding: 10px 10px 10px 10px;
  text-align: justify;
}

.footerContainer {
  padding: 10px;
}

.footerPartners {
  border: 3px dotted blue;
  float: left;
  width: 100%;
  margin-top: 1vh;
  padding: 1vh;
}

.footerBottom {
  display: flex;
  justify-content: center;
}

.footerMostBottom {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

.footerButton {
  display: flex;
  align-items: center;
  padding: 5px;
  vertical-align: middle;
}

.btn {
  background: white;
  border: 3px solid silver;
  margin-right: 30px;
  padding: 5px 5px 5px 5px;
  font-size: 2vh;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background: rgba(126, 161, 167, 50);
}
